---
import BottomBar from '../layouts/Bottom.astro';
import "../style/css/global-style.css";
import "../style/css/images.css";
---

<head>
    <!-- <script src="../ts/manage-images.ts" /> -->
    <script>

        import fs from 'node:fs';

        const images_location:string = "/src/storage/image/images.json";

        function WriteText(value: string){
            
            const select = document.getElementById("ImageSelection");
            const current = select?.innerHTML;
            const new_text = current + "<option value="+value+">"+value+"</option>";


            fs.writeFile(images_location, new_text, (err) => {
                // In case of a error throw err.
                if (err) throw err;  
                else console.log("Written");
            })
            
            const inner:string = ReadText();
            
            if(inner !== "f"){
                select!.innerHTML = ReadText();
            }
            else{
                console.log("Failed to set the text");
            }
        }

        function ReadText(){
            fs.readFile(images_location, "utf8", (err, data: string) => {
                // In case of a error throw err.
                if (err) throw err;
                else return data;
            });
            return "f";
        }


        function GetText(){
            const input = document.getElementById("image-input")!;
            const value = input.value;

            WriteText(value);
        }

        const button = document.getElementById("add-button");

        button?.addEventListener("click", () => {
            console.log("Button pressed");
            GetText();
        });
      
    </script>
</head>

<div class="top-bar">
    <div class="heading"><p>Images</p></div>
    <marquee class="scrolling-bar" id="hover-obj">
        <span>These are all of the images that are used</span>
    </marquee>
</div>



<div class="images">
    <section>
        <div class="inputs">
            <div id="buttons">
                <button id="add-button">Add Image</button>
                <button>Remove Image</button>
            </div>
            <div id="selections">
                <select id="ImageSelection">
                    <option value="aaa">aaa</option>
                    <option value="b">b</option>
                    <option value="ccc">ccc</option>
                </select> 
            </div>
            <div id="inputs">
                <div class="name">
                    <span>Name:</span>
                    <input type="text" id="image-input">
                </div>
            </div>
            
            
        </div>

        <img id="current-img" src="https://sass-lang.com/assets/img/logos/logo.svg">
        
    </section>

    <BottomBar />
</div>


