---
import BottomBar from '../components/Bottom.astro';
import "../style/css/global-style.css";
import "../style/css/home.css";
---

<!-- sass --watch src/style/scss:src/style/css  -->

<body>
    <div class="top-bar">
        <div class="heading"><p>Home</p></div>
        <marquee class="scrolling-bar" id="hover-obj">
            <span>Text that will scroll so cooly</span>
        </marquee>
    </div>
    <div class="text">
        <div class="main-text">
        <p id="hover-obj">
            Currs awesome website <br>
            Should probably add a welcome here idk            
        </p>
        </div>
        <div class="side-text" >
            <p id="hover-obj">This is my side text <br>
            I will probably have some thing that auto <br>
            updates here because i like the shape</p>
        </div>    
    </div>

	<BottomBar />
    

    
</body>

