<div class="bottom-bar">
    <a href="/app/pages/index.html">
     <button>Home</button>
    </a> 

    <a href="/app/pages/images.html">
     <button>Images</button>
    </a> 

    <a href="">
     <button>Page 2</button>
    </a> 
    
 </div>