---
import "../ts/test.ts"
---

<div class="bottom-bar">
    <a href="src/pages/index.astro">
     <button>Home</button>
    </a> 

    <a href="/src/pages/images.astro">
     <button>Images</button>
    </a> 

    <a href="">
     <button onclick="Print()">Page 2</button>
    </a> 
    
 </div>