// Base
$bgcolour: #ffffff;
$textcolour: #0f0018;

// Accents
$accent1: #5bcefa;
$accent2: #f5a9b8;
$accent3: #ffffff;

// Buttons
$buttondefault: #ffffff;
$buttonhover: $accent2;



.memeButton{
    padding: 1em;
    border-radius: 0.5em;

}

img{
    width: 20em;
    margin: 5em;
}

.dank{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

button:hover {
    p, #memeText{
        background-color: $accent2;
    }
}

