// Base
$bgcolour: #ffffff;
$textcolour: #0f0018;

// Accents
$accent1: #5bcefabb;
$accent2: #f5a9b888;
$accent3: #ffffff;

// Buttons
$buttondefault: #ffffff;
$buttonhover: #d38bfd;
// Buttons

$buttonwidth: 15vh;
$buttonheight: $buttonwidth*0.5;


// Bottom Bar
$barpadding: 1.9vh;
$hun: 99vh;
$barpos: $hun - $buttonheight - $barpadding*2;

* {
    // background-color: $bgcolour;
    color: $textcolour;
    font-family: sans-serif;
}

body{
    background-image: url("https://64.media.tumblr.com/be7661b96062d2aff8687f58a823956e/901d0d11c4e6f7ce-69/s250x400/00daeebdcebbcc22cbc5571020a255a613edfcb3.gifv");
    background-size: 15em;
}

.bottom-bar{
    background-color: $accent1;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    // border-radius: 1em;
    backdrop-filter: blur(0.2em);
    bottom: 0;

    


    padding: auto{
        top: $barpadding;
        bottom: $barpadding;
    }
    
    // top: $barpos;
    
    a{
        border-radius: 1em;
    }

    button{

        transition-property: background-color;
        transition-duration: 0.1s;
        transition-timing-function: linear;

        border-radius: 1em;
        height: $buttonheight;
        width: $buttonwidth;

        background-color: $buttondefault;
        border: none;

        &:hover{
            background-color: $buttonhover;
        }
    }

    
}




.heading{
    display: flex;
    justify-content: center;
    font-size: 3em;

    p{

        color: white;

        $top: 0.2em;
        $side: 0.5em;

        background-color: $accent2;
        border-radius: 0.3em;
        // Top right bottom left
        padding: auto{
            top: $top;
            bottom: $top;
            left: $side;
            right: $side;
        }

        backdrop-filter: blur(0.1em);

    }
}

