// Base
$bgcolour: #ffffff;
$textcolour: #0f0018;

// Accents
$accent1: #5bcefa;
$accent2: #f5a9b8;
$accent3: #ffffff;

// Buttons
$buttondefault: #ffffff;
$buttonhover: $accent2;
// Buttons

$buttonwidth: 15vh;
$buttonheight: $buttonwidth*0.5;


// Bottom Bar
$barpadding: 1vh;
$hun: 99vh;
$barpos: $hun - $buttonheight - $barpadding*2;

* {
    background-color: $bgcolour;
    color: $textcolour;
    font-family: sans-serif;
}

.bottom-bar{
    background-color: $accent1;
    width: 99%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    border-radius: 1em;
    
    padding: auto{
        top: $barpadding;
        bottom: $barpadding;
    }
    
    top: $barpos;

    a{
        border-radius: 1em;
    }

    button{
        border-radius: 1em;
        height: $buttonheight;
        width: $buttonwidth;
    }
}

button{
    background-color: $buttondefault;
    border: none;

    &:hover{
        background-color: $buttonhover;
    }
}


.heading{
    display: flex;
    justify-content: center;
    font-size: 3em;

    p{
        $top: 0.2em;
        $side: 0.5em;

        background-color: $accent2;
        border-radius: 0.3em;
            // Top right bottom left
        padding: auto{
            top: $top;
            bottom: $top;
            left: $side;
            right: $side;
        }
    }
}

