$bg-colour: #fd8ba866;


.images{
    display: flex;
    align-items: center;
    justify-content: center;
    
    section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        background-color: $bg-colour;
        backdrop-filter: blur(0.4em);
        width: 80vw;
        border-radius: 0.8em;
        min-height: 40em;
        border: 0.1em solid #00000055; 

        .buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            *{
                width: 10em;
            }

            .name{
                display: flex;
            }
        }

    }

    #current-img{
        border: 0.2em solid black;
    }
}