---
import "../ts/test.ts";
---

<div class="bottom-bar">
    <a href="/">
     <button>Home</button>
    </a> 

    <a href="/images">
     <button>Images</button>
    </a> 

    <a href="">
     <button onclick="Print()">Page 2</button>
    </a> 
</div>